/.idea
/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
/web/js/translations
/web/js/routes.js
/web/assets
