{% extends ':note:layout.html.twig' %}

{% block content %}
    <div class="columns is-multiline">

    </div>

    <div id="test-popup" class="white-popup mfp-hide">
        <div class="white-popup-content">
        {#<form name="app_note" method="post">#}
            <p class="control is-5">
                <input type="text" id="app_note_title"
                       name="app_note[title]" class="input"
                       placeholder="Note Title">
            </p>
            <p class="control">
                <textarea id="app_note_content" name="app_note[content]"
                          required="required" class="textarea"
                          placeholder="Note Content"
                          style=""></textarea>
            </p>
            <input type="hidden" id="app_note_id" name="app_note[id]" value="">
        {#</form>#}
        </div>

        <nav class="nav nav-footer-content" id="nav-footer-content">
            <div class="nav-left">
                <span class="nav-item">
                    <a class="button is-danger delete-note">
                        <span class="icon">
                            <i class="fa fa-trash-o"></i>
                        </span>
                        <span>Delete</span>
                    </a>
                </span>
            </div>
            <div class="nav-center">
                <span class="nav-item">
                    <span class="button is-white save-state">
                        <span class="icon">
                            <i class="fa fa-spinner saving"></i>
                            <i class="fa fa-check saved"></i>
                        </span>
                        {#<span class="saving">Saving</span>#}
                        {#<span class="saved">Saved</span>#}
                    </span>
                </span>
            </div>
            <div class="nav-right">
                <span class="nav-item">
                    <a class="button close-popup">
                        <span class="icon">
                            <i class="fa fa-times-circle"></i>
                        </span>
                        <span>Close</span>
                    </a>
                </span>
            </div>
        </nav>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var timeout = null;

        $(function() {
            var contentTextArea = $('#app_note_content');
            autosize(contentTextArea);

            $('.columns').masonry();

            initMagnific();

            $.ajax({
                type: 'GET',
                url: Routing.generate('note_list'),
                success: function (response) {
                    for (var index in response['notes']) {
                        var note = response['notes'][index];
                        var item = $(note['html']);
                        $('.columns')
                            .append(item)
                            .masonry('appended', item);
                    }
                },
                error: function (response) {
                    if (typeof response != 'undefined') {
                        alert(response['message']);
                    }
                },
                complete: function() {
                    $('.columns').masonry();
                    initMagnific();
                }
            });

            $('.columns').on('click', '.open-popup-link', function() {
                initModal($(this), contentTextArea);
            });

            $('.nav-item').on('click', '.open-popup-link', function() {
                initModal($(this), contentTextArea);
            });

            $('.delete-note').on('click', function() {
                var id = $('#app_note_id').val();
                if (id) {
                    if (confirm('Do you really want to delete note?')) {
                        $.ajax({
                            type: 'POST',
                            url: Routing.generate('note_delete'),
                            data: {id: id},
                            success: function () {
                                $.magnificPopup.close();
                                var note = $('#note-' + id);
                                $('.columns').masonry('remove', note);
                            },
                            error: function (response) {
                                if (typeof response != 'undefined') {
                                    alert(response['message']);
                                }
                            },
                            complete: function () {
                                $('.columns').masonry();
                            }
                        });
                    }
                }
            });

            $('.close-popup').on('click', function() {
                $.magnificPopup.close();
            });

            $('#app_note_title').on('input', function() {
                saveNote();
            });

            $('#app_note_content').on('input', function() {
                saveNote();
            });
        });

        var initModal = function(element, contentTextArea) {
            var id = element.data('id');
            var title = element.data('title');
            var content = element.data('content');

            $('#app_note_id').val(id);
            $('#app_note_title').val(title);
            $('#app_note_content').val(content);

            autosize.update(contentTextArea);
        };

        var initMagnific = function() {
            $('.open-popup-link').magnificPopup({
                type: 'inline',
                callbacks: {
                    close: function() {
                        if (typeof timeout != 'undefined' && timeout !== null) {
                            clearTimeout(timeout);
                            sendRequest();
                        }
                        $('#app_note_id').val('');
                        $('#app_note_title').val('');
                        $('#app_note_content').val('');
                        $('.columns').masonry();
                    }
                }
            });
        };

        var saveNote = function() {
            if (typeof timeout != 'undefined' && timeout !== null) {
                clearTimeout(timeout);
            }
            $('.saving').css('display', 'inline-block');
            $('.saved').hide();
            timeout = setTimeout(sendRequest, 1000);
        };

        var sendRequest = function() {
            var id = $('#app_note_id').val();
            var title = $('#app_note_title').val();
            var content = $('#app_note_content').val();
            if (title || content) {
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('note_save'),
                    data: {id: id, title: title, content: content},
                    success: function (response) {
                        if (id) {
                            var noteTitle = response['note']['title'];
                            var noteContent = response['note']['content'];
                            var noteContentBr = response['note']['content_br'];
                            $('#note-' + id).data('title', noteTitle);
                            $('#note-' + id).data('content', noteContent);
                            $('#note-title-' + id).text(noteTitle);
                            $('#note-content-' + id).html(noteContentBr);
                            if (noteTitle) {
                                $('#note-title-' + id).show();
                            } else {
                                $('#note-title-' + id).hide();
                            }
                        } else {
                            var noteId = response['note']['id'];
                            $('#app_note_id').val(noteId);
                            var items = $(response['note']['html']);
                            $('.columns')
                                .append(items)
                                .masonry('appended', items);
                            initMagnific();
                        }
                    },
                    error: function (response) {
                        if (typeof response != 'undefined') {
                            alert(response['message']);
                        }
                    },
                    complete: function () {
                        $('.saving').hide();
                        $('.saved').show();
                        $('.columns').masonry();
                    }
                });
            } else {
                $('.saving').hide();
                $('.saved').show();
            }
        };
    </script>
{% endblock %}
