{% extends ':note:layout.html.twig' %}

{% block content %}
    {% if notes %}
        <div class="columns">
            {% set j = 0 %}
            {% for i in 1..4 %}
                <div class="column is-one-quarter">
                    {% for k in 1..((notes | length) / 4) | round(0, 'ceil') %}
                        {% if j < notes | length %}
                            {% set note = notes[j] %}
                            <a href="{{ path('note_edit', {id: note.id}) }}" >
                                <div class="card note">
                                    <div class="card-content">
                                        <div class="content">
                                            {% if note.title %}
                                                <h5 class="title is-5">
                                                    {{ note.title }}
                                                </h5>
                                            {% endif %}
                                            {{ note.content | nl2br }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% set j = j + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="notification has-text-centered">
            You have no notes. Please <a href="{{ path('note_new') }}">create one</a>.
        </div>
    {% endif %}
{% endblock %}
