textarea.textarea {
    max-height: none;
}

#app_note_title {
    font-size: 1.25rem;
    min-height: 1.25rem;
}

.white-popup .input, .white-popup .textarea,
.white-popup .input:hover, .white-popup .textarea:hover,
.white-popup .input:focus, .white-popup .textarea:focus {
    border: none;
    box-shadow: none;
    padding: 0;
}

.card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(150, 150, 150, 0.1);
    transition: box-shadow 0.1s linear;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(200, 200, 200, 0.1);
}

.card .card-content .content {
    word-break: break-all;
}

.white-popup {
    position: relative;
    width: auto;
    max-width: 580px;
    margin: 50px auto 70px;
}

.white-popup-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(200, 200, 200, 0.1);
    background: #FFF;
    padding: 15px;
}

a.open-popup-link:focus {
    outline: none;
}

.mfp-bg {
    background: #ffffff;
}

.mfp-close {
    position: fixed;
    right: 0;
    top: 0;
}

.nav-footer-content {
    width: 580px;
    margin: 20px auto 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(200, 200, 200, 0.1);
    position: fixed;
    bottom: 0;
}

.saving {
    display: none;
}

.button.is-white.save-state{
    color: #00d1b2;
}

.note-color {
    width: 60px;
    height: 25px;
    display: block;
    float: left;
}

.note-color:not(:first-child) {
    margin-left: 1px;
}

.nav-header-content {
    width: 580px;
    margin: 0 auto 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(200, 200, 200, 0.1);
    position: fixed;
    top: 0;
}
